<a href="/admin" class="btn btn-info">Dashboard</a>

<h1 align="center">Know Your Customer</h1>
        <div class=" text-center">
<table class='table table-bordered table-condensed table-striped table-hover'>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Approve</th>
        <th>Reject</th>
    </tr>
    <% for (var i = 0; i<user.length; i++) { %>
    <tr class="table-row" data-href ="/admin/kyc/users?id=<%= user[i]._id %>">
        <td ><%= user[i].loginName %></td>
        <td><%= user[i].firstName + ' ' + user[i].surName%></td>
        <td><input type="checkbox" onclick="return false" <% if(user[i].isApprove){ %> checked <%}%>></td>
        <td><input type="checkbox" onclick="return false" <% if(user[i].isReject){ %> checked <%}%>></td>
    </tr>
    <% } %>
</table>
        </div>
